<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/style'); %>
</head>
<body class="container">
<header>
    <%- include('partials/header'); %>
</header>
<main>
    <div>
        <h1>ALPHONSE MARIA BOBAN</h1>
        <p><br>I am a 34 year old woman who has plans to make a future in the Software field in Canada. I have completed my graduation in Information Technology.</br></p>
        <p>But for the past 7 years I was working in the banking filed.I never got an opportunity to work in Programming and Development field.</p>
        
    </div>
</main>
<footer>
    <%- include('partials/footer'); %>
</footer>
</body>
</html>