<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/style'); %>
</head>
<body class="container">
<header>
    <%- include('partials/header'); %>
</header>
<main>
    <div class="jumbotron">
        <h1>ALPHONSE MARIA BOBAN</h1>
        <p>Student ID:301238842</p>
        <p>Web Application Development</p>
    <strong><p>"It is never too late to be what you might have been."-GEORGE ELIOT</p></strong>
        <button onclick="window.location.href='/about'">About me</button>
    </div>
</main>
<footer>
    <%- include('partials/footer'); %>
</footer>
</body>
</html>